# Dependencies
node_modules/
/venv/
__pycache__/
*.pyc

# Next.js
.next/
out/
next-env.d.ts
.vercel

# Misc
.DS_Store
*.pem
*.log
/tmp/

# Environment secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
/build/
dist/
*.tsbuildinfo
